* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}
/* Mobile View */
@media screen and (max-width: 650px) {
  .enclosed_div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  body {
    padding: 1rem;
    margin-top: 0.4rem;
    width: 100%;
    overflow-x: hidden;
  }
  header h1 {
    text-transform: capitalize;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
  }
  header div {
    text-transform: capitalize;
    font-size: 16px;
    display: none;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .underline_0,
  .underline_1,
  .underline_2 {
    width: 100%;
    border-bottom: 2px solid lightgrey;
    margin: 15px 0;
  }
  .Shopping_cart {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
  }
  .Shopping_cart .Dog_cart,
  .Shopping_cart .Nutro_cart {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .Shopping_cart .Dog_cart .Dog_cart_image,
  .Shopping_cart .Nutro_cart .Nutro_cart_image {
    order: 1;
    width: auto;
  }
  .Shopping_cart .Dog_cart .Dog_cart_image img,
  .Shopping_cart .Nutro_cart .Nutro_cart_image img {
    width: 7rem;
    margin-left: -5rem;
  }
  .Shopping_cart .Dog_cart .Dingo,
  .Shopping_cart .Nutro_cart .Nutro {
    width: 50%;
    text-transform: capitalize;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 1rem;
    background: whitesmoke;
  }
  .Shopping_cart .Dog_cart .Dingo_One,
  .Shopping_cart .Nutro_cart .Nutro_One {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.4rem;
  }
  .Shopping_cart .Dog_cart .Dingo_One_Details,
  .Shopping_cart .Nutro_cart .Nutro_one_Details {
    width: 100%;
  }
  .Shopping_cart .Dingo_One_Details .Dingo_price,
  .Shopping_cart .Nutro_One_Details .Nutro_price,
  .Shopping_cart .Dingo_One_Details .Dingo_sale_amount,
  .Shopping_cart .Nutro_One_Details .Nutro_sale_amount,
  .Shopping_cart .Dingo_One_Details .Removal,
  .Shopping_cart .Nutro_One_Details .Removal,
  .Shopping_cart .Dingo_One_Details .Sub_total_price,
  .Shopping_cart .Nutro_One_Details .Sub_total_price {
    display: inline-flex;
    margin-top: 3%;
  }
  /* Applying x sign into the element */
  .Shopping_cart .Dingo_sale_amount form::before,
  .Shopping_cart .Nutro_sale_amount form::before {
    content: "x";
    margin-right: 1.7rem;
    margin-left: -0.5rem;
  }
  /* Applying colors to static prices */
  .Shopping_cart .Dingo_One_Details .Dingo_price,
  .Shopping_cart .Nutro_One_Details .Nutro_price {
    color: darkcyan;
  }
  .Shopping_cart .Dingo_One_Details .Sub_total_price,
  .Shopping_cart .Nutro_One_Details .Sub_total_price {
    color: green;
  }
  /* Applying dollar sign into the element */
  .Shopping_cart .Dingo_One_Details .Dingo_price::before,
  .Shopping_cart .Nutro_One_Details .Nutro_price::before,
  .Shopping_cart .Dingo_One_Details .Sub_total_price::before,
  .Shopping_cart .Nutro_One_Details .Sub_total_price::before {
    content: "$";
  }
  .Shopping_cart .Dingo_sale_amount form input,
  .Shopping_cart .Nutro_sale_amount form input {
    width: 3rem;
  }
  .Shopping_cart .Dog_cart .Removal button,
  .Shopping_cart .Nutro_cart .Removal button {
    font-size: 13px;
    padding: 5px 8px;
    text-transform: capitalize;
    background: brown;
    color: #fff;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  .Total_price {
    width: 100%;
    background: lightblue;
  }
  .Total_price .Subtotal,
  .Total_price .Tax,
  .Total_price .Shipping,
  .Total_price .Grand_total,
  .Total_price .Button {
    display: flex;
    text-transform: capitalize;
    margin-left: 50%;
    justify-content: space-between;
    color: grey;
  }
  .Total_price .Subtotal_price_change,
  .Total_price .Tax_price_change,
  .Total_price .Shipping_price_change,
  .Total_price .Grand_total_price_change {
    margin-right: 16%;
    color: darkgreen;
  }
  .Total_price .Subtotal_price_change::before,
  .Total_price .Tax_price_change::before,
  .Total_price .Shipping_price_change::before,
  .Total_price .Grand_total_price_change::before {
    content: "$";
  }
  .Total_price .Button {
    width: 50%;
    display: flex;
    justify-content: right;
    overflow-x: hidden;
  }
  .Button button {
    text-transform: capitalize;
    background: green;
    color: white;
    font-size: 1.6rem;
    padding: 1% 3%;
    border-radius: 0.4rem;
    animation: checkout 5s infinite;
    margin-right: 1.5rem;
    margin-top: 6%;
    margin-bottom: 6%;
    cursor: pointer;
  }
  @keyframes checkout {
    25% {
      box-shadow: 10px 0px 10px darkorange;
    }
    50% {
      box-shadow: 10px 0px 10px blue;
    }
    75% {
      box-shadow: -10px 0px 10px red;
    }
    100% {
      box-shadow: 10px 0px 10px saddlebrown;
    }
  }
}
/* Desktop View */
body {
  margin-top: 0.5%;
  margin-left: 1.5%;
  overflow-x: hidden;
}
.shopping-cart {
  width: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.shopping-cart .product-price,
.shopping-cart .product-quantity,
.shopping-cart .product-line-price {
  color: grey;
}
.shopping-cart .underline {
  border-top: 2px solid lightgrey;
  margin-bottom: 4%;
}
.shopping-cart .underline1 {
  border-top: 2px solid lightgrey;
  margin-bottom: 4%;
  margin-top: 2%;
}
.shopping-cart .underline2 {
  border-top: 2px solid lightgrey;
  margin-bottom: 4%;
  margin-top: 4%;
}
.column-labels {
  display: flex;
  justify-content: center;
  position: relative;
  top: -1.5rem;
  left: 15rem;
  padding-left: 8.8rem;
}
.column-labels .product-image,
.column-labels .product-details,
.column-labels .product-removal {
  display: none;
}
.column-labels .product-price,
.column-labels .product-quantity {
  margin-left: 14%;
}
.column-labels .product-line-price {
  margin-left: 18%;
}
.product .product-line-price::before {
  content: "$";
}
img {
  width: 10rem;
}
.product {
  display: flex;
}
.product-details {
  margin-left: 2rem;
}
.product-title {
  width: 20rem;
  background: whitesmoke;
  margin-bottom: 1rem;
}

.product-description {
  width: 50%;
  height: 7.5rem;
}
.product .product-price {
  color: darkcyan;
  margin-right: 9.6rem;
}
.product .product-price::before {
  content: "$";
}
.product .product-quantity {
  color: blue;
}
.product-quantity input {
  width: 2.6rem;
  margin-right: 4.2rem;
}
.product-removal .remove-product {
  background: brown;
  border: 2px solid brown;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  color: white;
  margin-right: 4.8rem;
}
.product .product-line-price {
  color: darkorange;
  margin-right: 1.2rem;
}
.totals {
  background: lightgrey;
}
.totals-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.totals-item label {
  padding-right: 10.8rem;
  color: grey;
}
.totals-item .tax {
  margin-right: 0.5rem;
}
.totals-item .totals-value {
  padding-right: 1rem;
  color: darkgreen;
}
.totals-item .totals-value::before {
  content: "$";
  color: darkgreen;
}
.checkout {
  position: relative;
  top: 0rem;
  left: 72.5rem;
  border: 2px solid green;
  font-size: 25px;
  color: #fff;
  background: green;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.button {
  background: lightgrey;
}
