* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}
/* Mobile View */
@media screen and (max-width: 650px) {
  .enclosed_div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  body {
    padding: 1rem;
    margin-top: 0.4rem;
    width: 100%;
    overflow-x: hidden;
  }
  header h1 {
    text-transform: capitalize;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
  }
  header div {
    text-transform: capitalize;
    font-size: 16px;
    display: none;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .underline_0,
  .underline_1,
  .underline_2 {
    width: 100%;
    border-bottom: 2px solid lightgrey;
    margin: 15px 0;
  }
  .Shopping_cart {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
  }
  .Shopping_cart .Dog_cart,
  .Shopping_cart .Nutro_cart {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .Shopping_cart .Dog_cart .Dog_cart_image,
  .Shopping_cart .Nutro_cart .Nutro_cart_image {
    order: 1;
    width: auto;
  }
  .Shopping_cart .Dog_cart .Dog_cart_image img,
  .Shopping_cart .Nutro_cart .Nutro_cart_image img {
    width: 7rem;
    margin-left: -5rem;
  }
  .Shopping_cart .Dog_cart .Dingo,
  .Shopping_cart .Nutro_cart .Nutro {
    width: 50%;
    text-transform: capitalize;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 1rem;
    background: whitesmoke;
  }
  .Shopping_cart .Dog_cart .Dingo_One,
  .Shopping_cart .Nutro_cart .Nutro_One {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.4rem;
  }
  .Shopping_cart .Dog_cart .Dingo_One_Details,
  .Shopping_cart .Nutro_cart .Nutro_one_Details {
    width: 100%;
  }
  .Shopping_cart .Dingo_One_Details .Dingo_price,
  .Shopping_cart .Nutro_One_Details .Nutro_price,
  .Shopping_cart .Dingo_One_Details .Dingo_sale_amount,
  .Shopping_cart .Nutro_One_Details .Nutro_sale_amount,
  .Shopping_cart .Dingo_One_Details .Removal,
  .Shopping_cart .Nutro_One_Details .Removal,
  .Shopping_cart .Dingo_One_Details .Sub_total_price,
  .Shopping_cart .Nutro_One_Details .Sub_total_price {
    display: inline-flex;
    margin-top: 3%;
  }
  /* Applying x sign into the element */
  .Shopping_cart .Dingo_sale_amount form::before,
  .Shopping_cart .Nutro_sale_amount form::before {
    content: "x";
    margin-right: 1.4rem;
    margin-left: -0.6rem;
  }
  /* Applying colors to static prices */
  .Shopping_cart .Dingo_One_Details .Dingo_price,
  .Shopping_cart .Nutro_One_Details .Nutro_price {
    color: darkcyan;
  }
  .Shopping_cart .Dingo_One_Details .Sub_total_price,
  .Shopping_cart .Nutro_One_Details .Sub_total_price {
    color: green;
  }
  /* Applying dollar sign into the element */
  .Shopping_cart .Dingo_One_Details .Dingo_price::before,
  .Shopping_cart .Nutro_One_Details .Nutro_price::before,
  .Shopping_cart .Dingo_One_Details .Sub_total_price::before,
  .Shopping_cart .Nutro_One_Details .Sub_total_price::before {
    content: "$";
  }
  .Shopping_cart .Dingo_sale_amount form input,
  .Shopping_cart .Nutro_sale_amount form input {
    width: 3rem;
  }
  .Shopping_cart .Dog_cart .Removal button,
  .Shopping_cart .Nutro_cart .Removal button {
    font-size: 13px;
    padding: 5px 8px;
    text-transform: capitalize;
    background: brown;
    color: #fff;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  .Total_price {
    width: 100%;
    background: lightblue;
  }
  .Total_price .Subtotal,
  .Total_price .Tax,
  .Total_price .Shipping,
  .Total_price .Grand_total,
  .Total_price .Button {
    display: flex;
    text-transform: capitalize;
    margin-left: 50%;
    justify-content: space-between;
    color: grey;
  }
  .Total_price .Subtotal_price_change,
  .Total_price .Tax_price_change,
  .Total_price .Shipping_price_change,
  .Total_price .Grand_total_price_change {
    margin-right: 16%;
    color: darkgreen;
  }
  .Total_price .Subtotal_price_change::before,
  .Total_price .Tax_price_change::before,
  .Total_price .Shipping_price_change::before,
  .Total_price .Grand_total_price_change::before {
    content: "$";
  }
  .Total_price .Button {
    width: 50%;
    display: flex;
    justify-content: right;
    overflow-x: hidden;
  }
  .Button button {
    text-transform: capitalize;
    background: green;
    color: white;
    font-size: 1.6rem;
    padding: 1% 3%;
    border-radius: 0.4rem;
    animation: checkout 5s infinite;
    margin-right: 1.5rem;
    margin-top: 6%;
    margin-bottom: 6%;
    cursor: pointer;
  }
  @keyframes checkout {
    25% {
      box-shadow: 10px 0px 10px darkorange;
    }
    50% {
      box-shadow: 10px 0px 10px blue;
    }
    75% {
      box-shadow: -10px 0px 10px red;
    }
    100% {
      box-shadow: 10px 0px 10px saddlebrown;
    }
  }
}
/* Desktop View */
@media screen and (min-width: 651px) {
  body {
    padding: 1rem;
    margin-top: 0.4rem;
    width: 100%;
    overflow-x: hidden;
  }
  header h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    width: 50%;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header div {
    text-transform: capitalize;
    font-size: 16px;
    display: flex;
    color: darkblue;
  }
  header #image,
  header #remove {
    display: none;
  }
  header #quantity {
    margin-right: 15%;
  }
  .underline_0,
  .underline_1,
  .underline_2 {
    width: 100%;
    border-bottom: 2px solid lightgrey;
    margin: 15px 0;
  }
  .Shopping_cart {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
  }
  .Shopping_cart .Dog_cart,
  .Shopping_cart .Nutro_cart {
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }
  img {
    margin: 0 4rem;
  }
  /* Shopping images */
  .Shopping_cart .Dog_cart .Dog_cart_image img,
  .Shopping_cart .Nutro_cart .Nutro_cart_image img {
    width: 8rem;
  }
  .Shopping_cart .Dog_cart .Dingo,
  .Shopping_cart .Nutro_cart .Nutro {
    width: 60%;
    text-transform: capitalize;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 1rem;
    background: whitesmoke;
  }
  .Shopping_cart .Dog_cart .Dingo_One_Details {
    max-width: 100%;
  }
  .Shopping_cart .Dog_cart .Dingo_One,
  .Shopping_cart .Nutro_cart .Nutro_One {
    width: 26rem;
  }
  .enclosed_div {
    display: flex;
    position: relative;
    top: -4.5rem;
    left: 23.4rem;
    padding-left: 8.8rem;
  }
  /* Quantity */
  .Dingo_sale_amount,
  .Nutro_sale_amount {
    margin-left: 7rem;
  }
  .Dingo_sale_amount form input,
  .Nutro_sale_amount form input {
    width: 2.5rem;
  }
  .enclosed_div .Removal {
    margin-left: 8rem;
  }
  .enclosed_div .Removal button {
    background: brown;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    color: white;
    border-color: brown;
    text-transform: capitalize;
  }
  /* Total price */
  .enclosed_div .Sub_total_price {
    margin-left: 6rem;
    color: darkorange;
  }
  /* Shopping Price */
  .enclosed_div .Dingo_price,
  .enclosed_div .Nutro_price {
    color: darkcyan;
  }
  .enclosed_div .Dingo_price::before,
  .enclosed_div .Nutro_price::before,
  .enclosed_div .Sub_total_price::before {
    content: "$";
  }
}
