* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 0.5%;
  margin-left: 1.5%;
  overflow-x: hidden;
}
.shopping-cart {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.shopping-cart .product-price,
.shopping-cart .product-quantity,
.shopping-cart .product-line-price {
  color: grey;
}
.shopping-cart .underline {
  border-top: 2px solid lightgrey;
  margin-bottom: 4%;
}
.shopping-cart .underline1 {
  border-top: 2px solid lightgrey;
  margin-bottom: 4%;
  margin-top: 2%;
}
.shopping-cart .underline2 {
  border-top: 2px solid lightgrey;
  margin-bottom: 4%;
  margin-top: 4%;
}
.column-labels {
  display: flex;
  justify-content: center;
  position: relative;
  top: -1.5rem;
  left: 15rem;
  padding-left: 8.8rem;
}
.column-labels .product-image,
.column-labels .product-details,
.column-labels .product-removal {
  display: none;
}
.column-labels .product-price,
.column-labels .product-quantity {
  margin-left: 14%;
}
.column-labels .product-line-price {
  margin-left: 18%;
}
.product .product-line-price::before {
  content: "$";
}
img {
  width: 10rem;
}
.product {
  display: flex;
}
.product-details {
  margin-left: 2rem;
}
.product-title {
  width: 20rem;
  background: whitesmoke;
  margin-bottom: 1rem;
}

.product-description {
  width: 50%;
  height: 7.5rem;
}
.product .product-price {
  color: darkcyan;
  margin-right: 9.6rem;
}
.product .product-price::before {
  content: "$";
}
.product .product-quantity {
  color: blue;
}
.product-quantity input {
  width: 2.6rem;
  margin-right: 4.2rem;
}
.product-removal .remove-product {
  background: brown;
  border: 2px solid brown;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  color: white;
  margin-right: 4.8rem;
}
.product .product-line-price {
  color: darkorange;
  margin-right: 1.2rem;
}
.totals {
  background: lightgrey;
}
.totals-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.totals-item label {
  padding-right: 10.8rem;
  color: grey;
}
.totals-item .tax {
  margin-right: 0.5rem;
}
.totals-item .totals-value {
  padding-right: 1rem;
  color: darkgreen;
}
.totals-item .totals-value::before {
  content: "$";
  color: darkgreen;
}
.checkout {
  position: relative;
  top: 0rem;
  left: 72.5rem;
  border: 2px solid green;
  font-size: 25px;
  color: #fff;
  background: green;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.button {
  background: lightgrey;
}
/* Mobile view side / Client side */
@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin-top: 0.6rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  h1 {
    font-size: 26px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .shopping-cart {
    display: block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  .shopping-cart .column-labels {
    display: none;
  }
  .shopping-cart .underline,
  .shopping-cart .underline1 {
    margin-top: 1rem;
    border-top: 0.4px solid lightgrey;
  }
  .shopping-cart .underline2 {
    margin-top: 1rem;
    border-top: 0.4px solid lightgrey;
  }
  .product {
    position: relative;
  }
  .product img {
    width: 6rem;
  }
  .product .product-image {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 30rem;
  }
  .product-details {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    right: 8rem;
  }
  .product-description {
    width: 100%;
    height: 6rem;
  }
  .product-price {
    display: block;
    position: relative;
    bottom: -10rem;
    left: -10rem;
  }
  .shopping-cart .product-price {
    display: inline-block;
    position: relative;
    bottom: -7rem;
    left: -28rem;
    margin-top: 0.4rem;
  }
  .product-price::after {
    content: "x";
    margin-left: 2rem;
  }
  .shopping-cart .product-quantity {
    display: inline-block;
    position: relative;
    bottom: -7.4rem;
    left: -35rem;
  }
  .shopping-cart .product-removal {
    display: inline-block;
    position: relative;
    bottom: -7.2rem;
    left: -35rem;
  }
  .shopping-cart .product-line-price {
    display: inline-block;
    position: relative;
    bottom: -7.2rem;
    left: -27.6rem;
  }
  .totals {
    background: lightblue;
  }
  .checkout {
    position: relative;
    top: 0.4rem;
    left: 26rem;
    border: 2px solid green;
    font-size: 25px;
    color: #fff;
    background: green;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .button {
    background: lightblue;
  }
}
